<app-loading *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <br />
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"  [routerLink]="''" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
        App
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto text-center">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="''" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/shop'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Shop
            </a>
          </li>

        </ul>
        <div class="nav-text">
          <ul class="navbar-nav me-auto text-center">
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <Br/><br/>
  <div class="text-center">

    <Br/><br/>
    App - All rights reserved


  </div>
  <Br/><br/>
</div>
